{# Epargne/Resources/views/Epargne/accueil.html.twig #}
 
{% extends "Thibautg16SqueletteBundle::layout.html.twig" %}
 
{% block title %}
	{{ parent() }} - Accueil
{% endblock %}

{% block fil_ariane %} 
	{{ parent() }} 
    <li><a href="#">Accueil</a></li>
{% endblock %}

{% block body_thibautg16 %}    
    <div class="col-sm-12">
        <br />
		<a href="{{ path('epargne_compte_mescomptes') }}" ><button class="btn btn-lg btn-primary btn-block">Mes Comptes</button></a>
		<br />
        {% if admin == TRUE %}
            <a href="{{ path('thibautg16_utilisateur_liste') }}" ><button class="btn btn-lg btn-primary btn-block">Utilisateurs</button></a>
            <br />
        {% endif %}
	</div>
{% endblock %}